<dom-module id="shogi-piece">
    <template>
        <style>
            :host {
                z-index: 5000;
                width: 80%;
                height: 80%;
                color: black;
                cursor: pointer;
                user-select: none;
                writing-mode: tb-rl;
                background-image: url('/assets/images/shogi.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                font-size: 1.2rem;

                @apply --layout-vertical;
                @apply --layout-center-center;
            }

            :host([side="white"]) {
                transform: rotateX(190deg);
                background-image: url('/assets/images/shogi-white.svg');
            }

            :host([side="black"]) {
                /*transform: rotateX(190deg);*/
            }
            
        </style>

        <span>[[kanji]]</span>
    </template>
    <script src="shogi-piece.js"></script>
</dom-module>