<link rel="import" href="../shogi-piece/shogi-piece.html">

<dom-module id="shogi-promoted-rook">
    <script>
        (function(){
            'use strict';

            class ShogiPromotedRook extends ShogiPiece {

                static get is() { return 'shogi-promoted-rook'; }
                static get config() {
                    return {
                        properties: {
                            kanji: { value: '龍王' },
                            romaji: { value: 'Ryūō' },
                            english: { value: 'Promoted Rook' },
                            side: { type: String },
                            promoted: { type: Boolean, value: true, reflectToAttribute: true }
                        }
                    }
                }

                constructor() {
                    super();
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.setAttribute('title', `${this.english} | ${this.kanji} | ${this.romaji}`);
                }

                /**
                 * {|, |, |, |, #, |, |, |, |}
                 * {|, |, |, |, #, |, |, |, |}
                 * {|, |, |, |, #, |, |, |, |}
                 * {|, |, |, #, #, #, |, |, |}
                 * {#, #, #, #, X, #, #, #, #}
                 * {|, |, |, #, #, #, |, |, |}
                 * {|, |, |, |, #, |, |, |, |}
                 * {|, |, |, |, #, |, |, |, |}
                 * {|, |, |, |, #, |, |, |, |}
                 */
                theoreticalMoves(y, x) {
                    let moves = [];

                    // To Top
                    let xc = x, yc = y;
                    for (var i = 0; i < 8; i++)  moves.push({ y: yc++, x: xc });

                    // To Bottom
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc--, x: xc });

                    // To Left
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc, x: xc++ });

                    // To Right
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc, x: xc-- });

                    return BoardUtil.filterInvalidMoves(moves, { x: x, y: y });
                }

                promotedMoves(y, x) {
                    let moves = [{ y: y-1, x: x-1 }, { y: y+1, x: x+1 }, { y: y-1, x: x+1 }, { y: y+1, x: x-1 }];

                    return BoardUtil.filterInvalidMoves(moves, { x: x, y: y });
                }

                possibleMoves(y, x, board, lexicon) {
                    let moves = this.theoreticalMoves(y, x);
                    let filteredMoves = [];

                    let NBlocked = false,
                        SBlocked = false,
                        EBlocked = false,
                        WBlocked = false; 

                    for(let move of moves) {
                        let piece = board[move.y][move.x];

                        // Check for black piece.
                        if(this.side === 'black') {

                            // Check North
                            if(move.y < y && !NBlocked) {
                                NBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check South
                            if(move.y > y && !SBlocked) {
                                SBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Check East
                            if(move.x < x && !EBlocked) {
                                EBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check West
                            if(move.x > x && !WBlocked) {
                                WBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                        }

                        // Check for white piece.
                        if(this.side === 'white') {
                        
                            // Check North
                            if(move.y < y && !NBlocked) {
                                NBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check South
                            if(move.y > y && !SBlocked) {
                                SBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check East
                            if(move.x < x && !EBlocked) {
                                EBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check West
                            if(move.x > x && !WBlocked) {
                                WBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }
                        }
                    }

                    let promotedMoves = this.promotedMoves(y, x);

                    for(let move of promotedMoves) {
                        let piece = board[move.y][move.x];

                        if(this.side === 'white' && BoardUtil.isBlackPiece(piece, lexicon) || piece === 0)
                            filteredMoves.push(move)

                        if(this.side === 'black' && BoardUtil.isWhitePiece(piece, lexicon) || piece === 0)
                            filteredMoves.push(move)
                    }

                    return filteredMoves;
                }
            }

            customElements.define(ShogiPromotedRook.is, ShogiPromotedRook);
        })();
    </script>
</dom-module>