<link rel="import" href="../shogi-piece/shogi-piece.html">

<dom-module id="shogi-rook">
    <script>
        (function(){
            'use strict';

            class ShogiRook extends ShogiPiece {

                static get is() { return 'shogi-rook'; }
                static get config() {
                    return {
                        properties: {
                            kanji: { value: '飛車' },
                            romaji: { value: 'Hisha' },
                            english: { value: 'Rook' },
                            side: { type: String }
                        }
                    }
                }

                constructor() {
                    super();
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.setAttribute('title', `${this.english} | ${this.kanji} | ${this.romaji}`);
                }

                /**
                 * {#, |, |, |, |, |, |, |, #}
                 * {|, #, |, |, |, |, |, #, |}
                 * {|, |, #, |, |, |, #, |, |}
                 * {|, |, |, #, |, #, |, |, |}
                 * {|, |, |, |, X, |, |, |, |}
                 * {|, |, |, #, |, #, |, |, |}
                 * {|, |, #, |, |, |, #, |, |}
                 * {|, #, |, |, |, |, |, #, |}
                 * {#, |, |, |, |, |, |, |, #}
                 */
                theoreticalMoves(y, x) {
                    var moves = [];

                    // To Top
                    let xc = x, yc = y;
                    for (var i = 0; i < 8; i++)  moves.push({ y: yc++, x: xc });

                    // To Bottom
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc--, x: xc });

                    // To Left
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc, x: xc++ });

                    // To Right
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc, x: xc-- });

                    return BoardUtil.filterInvalidMoves(moves, { x: x, y: y });
                }

                possibleMoves(y, x, board, lexicon) {
                    let moves = this.theoreticalMoves(y, x);
                    let filteredMoves = [];
            
                    let NBlocked = false;
                    let SBlocked = false;
                    let EBlocked = false;
                    let WBlocked = false;

                    for(let move of moves) {
                        let piece = board[move.y][move.x];

                        // Check for black piece.
                        if(this.side === 'black') {

                            // Check North
                            if(move.y < y && !NBlocked) {
                                NBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check South
                            if(move.y > y && !SBlocked) {
                                SBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check East
                            if(move.x < x && !EBlocked) {
                                EBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check West
                            if(move.x > x && !WBlocked) {
                                WBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                        }

                        // Check for white piece.
                        if(this.side === 'white') {
                        
                            // Check North
                            if(move.y < y && !NBlocked) {
                                NBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check South
                            if(move.y > y && !SBlocked) {
                                SBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check East
                            if(move.x < x && !EBlocked) {
                                EBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }

                            // Check West
                            if(move.x > x && !WBlocked) {
                                WBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon)) 
                                    filteredMoves.push(move);
                            }
                        }
                    }

                    return filteredMoves;
                }
            }

            customElements.define(ShogiRook.is, ShogiRook);
        })();
    </script>
</dom-module>