<link rel="import" href="../shogi-piece/shogi-piece.html">

<dom-module id="shogi-knight">
    <script>
        (function() {
            'use strict';

            class ShogiPromotedBishop extends ShogiPiece {

                static get is() { return 'shogi-promoted-bishop'; }
                static get config() {
                    return {
                        properties: {
                            kanji: { value: '龍馬' },
                            romaji: { value: 'Ryūma' },
                            english: { value: 'Promoted Bishop' },
                            side: { type: String },
                            promoted: { type: Boolean, value: true, reflectToAttribute: true }
                        }
                    }
                }

                constructor() {
                    super();
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.setAttribute('title', `${this.english} | ${this.kanji} | ${this.romaji}`);
                }

                /**
                 * {#, |, |, |, |, |, |, |, #}
                 * {|, #, |, |, |, |, |, #, |}
                 * {|, |, #, |, |, |, #, |, |}
                 * {|, |, |, #, #, #, |, |, |}
                 * {|, |, |, #, X, #, |, |, |}
                 * {|, |, |, #, #, #, |, |, |}
                 * {|, |, #, |, |, |, #, |, |}
                 * {|, #, |, |, |, |, |, #, |}
                 * {#, |, |, |, |, |, |, |, #}
                 */
                theoreticalMoves(y, x) {
                    var moves = [];

                    // To Bottom Left
                    let xc = x, yc = y;
                    for (var i = 0; i < 8; i++)  moves.push({ y: yc++, x: xc-- });

                    // To Top Left
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc--, x: xc-- });

                    // To Bottom Left
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc++, x: xc++ });

                    // To Top Right
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc--, x: xc++ });

                    return BoardUtil.filterInvalidMoves(moves, { x: x, y: y });
                }

                promotedMoves(y, x) {
                    let moves = [
                        { y: y-1, x: x },
                        { y: y+1, x: x },
                        { y: y, x: x+1 },
                        { y: y, x: x-1 }
                    ];

                    return BoardUtil.filterInvalidMoves(moves, { x: x, y: y });
                }


                possibleMoves(y, x, board, lexicon) {
                    let moves = this.theoreticalMoves(y, x);
                    let filteredMoves = [];
            
                    let NEBlocked = false,
                        NWBlocked = false,
                        SEBlocked = false,
                        SWBlocked = false;

                    for(let move of moves) {
                        let piece = board[move.y][move.x];

                        // Check for black piece.
                        if(this.side === 'black') {

                            // Find Closest North/East Block Piece
                            if(move.x > x && move.y < y && !NEBlocked) {
                                NEBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);
                                
                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest North/West Block Piece
                            if(move.x < x && move.y < y && !NWBlocked) {
                                NWBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);
                                
                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest South/East Block Piece
                            if(move.x > x && move.y > y && !SEBlocked) {
                                SEBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);
                                
                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest South/East Block Piece
                            if(move.x < x && move.y > y && !SWBlocked) {
                                SWBlocked = BoardUtil.isWhitePiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);
                                
                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }
                        }


                        // Check for white piece.
                        if(this.side === 'white') {

                            // Find Closest North/East Block Piece
                            if(move.x > x && move.y < y && !NEBlocked) {
                                NEBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest North/West Block Piece
                            if(move.x < x && move.y < y && !NWBlocked) {
                                NWBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest South/East Block Piece
                            if(move.x > x && move.y > y && !SEBlocked) {
                                SEBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest South/East Block Piece
                            if(move.x < x && move.y > y && !SWBlocked) {
                                SWBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isWhitePiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }
                        }
                    }

                    let promotedMoves = this.promotedMoves(y, x);

                    for(let move of promotedMoves) {
                        let piece = board[move.y][move.x];

                        if(this.side === 'white' && BoardUtil.isBlackPiece(piece, lexicon) || piece === 0)
                            filteredMoves.push(move)

                        if(this.side === 'black' && BoardUtil.isWhitePiece(piece, lexicon) || piece === 0)
                                filteredMoves.push(move)
                    }

                    return filteredMoves;
                }
            }

            customElements.define(ShogiPromotedBishop.is, ShogiPromotedBishop);
        })();
    </script>
</dom-module>