<link rel="import" href="../shogi-piece/shogi-piece.html">

<dom-module id="shogi-knight">
    <script>
        (function() {
            'use strict';

            class ShogiKnight extends ShogiPiece {

                static get is() { return 'shogi-knight'; }
                static get config() {
                    return {
                        properties: {
                            kanji: { value: '桂馬' },
                            romaji: { value: 'Keima' },
                            english: { value: 'Knight' },
                            side: { type: String }
                        }
                    }
                }

                constructor() {
                    super();
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.setAttribute('title', `${this.english} | ${this.kanji} | ${this.romaji}`);
                }

                /**
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, #, |, #, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, X, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 */
                theoreticalMoves(y, x) {
                    let moves = [];

                    if (this.side === 'black') {
                        moves = [
                            { y: y - 2, x: x - 1 },
                            { y: y - 2, x: x + 1 }
                        ];
                    }

                    if (this.side === 'white') {
                        moves = [
                            { y: y + 2, x: x - 1 },
                            { y: y + 2, x: x + 1 }
                        ];
                    }

                    return BoardUtil.filterInvalidMoves(moves, { x: x, y: y });
                }

                possibleMoves(y, x, board, lexicon) {
                    let moves = this.theoreticalMoves(y, x);
                    
                    for(let move of this.theoreticalMoves(y, x)) {
                        let piece = board[move.y][move.x];
                        
                        if(this.side === 'white' && BoardUtil.isWhitePiece(piece, lexicon))
                            moves.splice(moves.indexOf(move), 1);

                        if(this.side === 'black' && BoardUtil.isBlackPiece(piece, lexicon))
                            moves.splice(moves.indexOf(move), 1);
                    }

                    return moves;
                }

            }

            customElements.define(ShogiKnight.is, ShogiKnight);
        })();
    </script>
</dom-module>