<link rel="import" href="../shogi-piece/shogi-piece.html">

<dom-module id="shogi-gold-general">
    <script>
        (function() {
            'use strict';

            class ShogiPromotedLance extends ShogiPiece {

                static get is() { return 'shogi-promoted-lance'; }
                static get config() {
                    return {
                        properties: {
                            kanji: { value: '成香' },
                            romaji: { value: 'Narikyō' },
                            english: { value: 'Promoted Lance' },
                            side: { type: String },
                            promoted: { type: Boolean, value: true, reflectToAttribute: true }
                        }
                    }
                }

                constructor() {
                    super();
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.setAttribute('title', `${this.english} | ${this.kanji} | ${this.romaji}`);
                }

                /**
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, #, #, #, |, |, |}
                 * {|, |, |, #, X, #, |, |, |}
                 * {|, |, |, |, #, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 */
                theoreticalMoves(y, x) {
                    let moves = [];

                    if (this.side === 'black') {
                        moves = [
                            { y: y - 1, x: x},
                            { y: y - 1, x: x - 1},
                            { y: y - 1, x: x + 1},
                            { y: y, x: x - 1},
                            { y: y, x: x + 1},
                            { y: y + 1, x: x}
                        ];
                    }

                    if (this.side === 'white') {
                        moves = [
                            { y: y + 1, x: x},
                            { y: y + 1, x: x - 1},
                            { y: y + 1, x: x + 1},
                            { y: y, x: x - 1},
                            { y: y, x: x + 1},
                            { y: y - 1, x: x}
                        ];
                    }

                    return BoardUtil.filterInvalidMoves(moves, { x: x, y: y });
                }

                possibleMoves(y, x, board, lexicon) {
                    let moves = this.theoreticalMoves(y, x);
                    let filteredMoves = [];
                    
                    for(let move of moves) {
                        let piece = board[move.y][move.x];
                        console.log(piece);
                        
                        if(this.side === 'white' && BoardUtil.isBlackPiece(piece, lexicon) || piece === 0)
                            filteredMoves.push(move);

                        if(this.side === 'black' && BoardUtil.isWhitePiece(piece, lexicon))
                            filteredMoves.push(move);
                    }

                    return filteredMoves;
                }

            }

            customElements.define(ShogiPromotedLance.is, ShogiPromotedLance);
        })();
    </script>
</dom-module>