<link rel="import" href="../shogi-piece/shogi-piece.html">

<dom-module id="shogi-silver-general">
    <script>
        (function() {
            'use strict';

            class ShogiSilverGeneral extends ShogiPiece {

                static get is() { return 'shogi-silver-general'; }
                static get config() {
                    return {
                        properties: {
                            kanji: { value: '銀將' },
                            romaji: { value: 'Ginshō' },
                            english: { value: 'Silver General' },
                            side: { type: String }
                        }
                    }
                }

                constructor() {
                    super();
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.setAttribute('title', `${this.english} | ${this.kanji} | ${this.romaji}`);
                }

                /**
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, #, #, #, |, |, |}
                 * {|, |, |, |, X, |, |, |, |}
                 * {|, |, |, #, |, #, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 */
                theoreticalMoves(y, x) {
                    let possible = [];
                    let possibleFiltered = [];

                    if (this.side === 'black') {
                        possible = [
                            { y: y - 1, x: x },
                            { y: y - 1, x: x - 1 },
                            { y: y - 1, x: x + 1 },
                            { y: y + 1, x: x - 1 },
                            { y: y + 1, x: x + 1 }
                        ];
                    }

                    if (this.side === 'white') {
                        possible = [
                            { y: y + 1, x: x },
                            { y: y + 1, x: x - 1 },
                            { y: y + 1, x: x + 1 },
                            { y: y - 1, x: x - 1 },
                            { y: y - 1, x: x + 1 }
                        ];
                    }

                    // Filter out all invalid moves.
                    for(let move of possible) {
                        if(move.x >= 0 && move.y >= 0 && move.x < 9 && move.y < 9 && (move.y !== y ))
                            possibleFiltered.push(move);
                    }

                    return possibleFiltered;
                }

                possibleMoves(y, x, vboard) {
                    let moves = this.theoreticalMoves(y, x);
                    let filteredMoves = [];
                    
                    for(let move of moves) {
                        let piece = vboard.layout[move.y][move.x];
                        
                        if(this.side === 'white' && BoardHelper.IsBlackPiece(piece, vboard) || piece === 0)
                            filteredMoves.push(move);

                        if(this.side === 'black' && BoardHelper.IsWhitePiece(piece, vboard) || piece === 0)
                            filteredMoves.push(move);
                    }

                    return filteredMoves;
                }

            }

            customElements.define(ShogiSilverGeneral.is, ShogiSilverGeneral);
        })();
    </script>
</dom-module>