<link rel="import" href="../shogi-piece/shogi-piece.html">

<dom-module id="shogi-knight">
    <script>
        (function() {
            'use strict';

            class ShogiBishop extends ShogiPiece {

                static get is() { return 'shogi-bishop'; }
                static get config() {
                    return {
                        properties: {
                            kanji: { value: '角行' },
                            romaji: { value: 'Kakugyō' },
                            english: { value: 'Bishop' },
                            side: { type: String }
                        }
                    }
                }

                constructor() {
                    super();
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.setAttribute('title', `${this.english} | ${this.kanji} | ${this.romaji}`);
                }

                /**
                 * {#, |, |, |, |, |, |, |, #}
                 * {|, #, |, |, |, |, |, #, |}
                 * {|, |, #, |, |, |, #, |, |}
                 * {|, |, |, #, |, #, |, |, |}
                 * {|, |, |, |, X, |, |, |, |}
                 * {|, |, |, #, |, #, |, |, |}
                 * {|, |, #, |, |, |, #, |, |}
                 * {|, #, |, |, |, |, |, #, |}
                 * {#, |, |, |, |, |, |, |, #}
                 */
                theoreticalMoves(y, x) {
                    var moves = [];

                    // To Bottom Left
                    let xc = x, yc = y;
                    for (var i = 0; i < 8; i++)  moves.push({ y: yc++, x: xc-- });

                    // To Top Left
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc--, x: xc-- });

                    // To Bottom Left
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc++, x: xc++ });

                    // To Top Right
                    xc = x, yc = y;
                    for (var i = 0; i < 8; i++) moves.push({ y: yc--, x: xc++ });

                    return BoardUtil.filterInvalidMoves(moves, { x: x, y: y });
                }

                possibleMoves(y, x, board, lexicon) {
                    let moves = this.theoreticalMoves(y, x);
                    let filteredMoves = [];
            
                    let NEBlocked = false;
                    let NWBlocked = false;
                    let SEBlocked = false;
                    let SWBlocked = false;

                    for(let move of moves) {
                        let piece = board[move.y][move.x];

                        // Check for black piece.
                        if(this.side === 'black') {

                            // Find Closest North/East Block Piece
                            if(move.x > x && move.y < y && !NEBlocked) {
                                NEBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest North/West Block Piece
                            if(move.x < x && move.y < y && !NWBlocked) {
                                NWBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest South/East Block Piece
                            if(move.x > x && move.y > y && !SEBlocked) {
                                SEBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isBlackPiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest South/East Block Piece
                            if(move.x < x && move.y > y && !SWBlocked) {
                                SWBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                        }


                        // Check for white piece.
                        if(this.side === 'white') {

                            // Find Closest North/East Block Piece
                            if(move.x > x && move.y < y && !NEBlocked) {
                                NEBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest North/West Block Piece
                            if(move.x < x && move.y < y && !NWBlocked) {
                                NWBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest South/East Block Piece
                            if(move.x > x && move.y > y && !SEBlocked) {
                                SEBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                            // Find Closest South/East Block Piece
                            if(move.x < x && move.y > y && !SWBlocked) {
                                SWBlocked = BoardUtil.isBlackPiece(piece, lexicon) || BoardUtil.isWhitePiece(piece, lexicon);

                                if(!BoardUtil.isBlackPiece(piece, lexicon))
                                    filteredMoves.push(move);
                            }

                        }
                    }

                    return filteredMoves;
                }

            }

            customElements.define(ShogiBishop.is, ShogiBishop);
        })();
    </script>
</dom-module>