<link rel="import" href="../shogi-piece/shogi-piece.html">
<link rel="import" href="../utils/utils.html">

<dom-module id="shogi-knight">
    <script>
        (function() {
            /// <reference path="../utils/board-util.html" />

            'use strict';

            class ShogiPawn extends ShogiPiece {

                static get is() { return 'shogi-pawn'; }
                static get config() {
                    return {
                        properties: {
                            kanji: { value: '歩兵' },
                            romaji: { value: 'Fuhyō' },
                            english: { value: 'Pawn' },
                            side: { type: String }
                        }
                    }
                }

                constructor() {
                    super();
                }

                connectedCallback() {
                    super.connectedCallback();
                    this.setAttribute('title', `${this.english} | ${this.kanji} | ${this.romaji}`);
                }

                /**
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, #, |, |, |, |}
                 * {|, |, |, |, X, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 * {|, |, |, |, |, |, |, |, |}
                 */
                theoreticalMoves(y, x) {
                    let moves = this.side === 'black' ?  
                        [{ y: y - 1, x: x }] : [{ y: y + 1, x: x }];

                    return BoardUtil.filterInvalidMoves(moves, { x: x, y: y });
                }

                possibleMoves(y, x, board, lexicon) {
                    let moves = this.theoreticalMoves(parseInt(y), parseInt(x));
                    
                    for(let move of moves) {
                        let piece = board[move.y][move.x];

                        if(piece !== 0) {
                            if(this.side === 'white' && BoardUtil.isWhitePiece(piece, lexicon))
                                moves.splice(moves.indexOf(move), 1);

                            if(this.side === 'black' && BoardUtil.isBlackPiece(piece, lexicon))
                                moves.splice(moves.indexOf(move), 1);
                        }
                    }
                    return moves;
                }

            }

            customElements.define(ShogiPawn.is, ShogiPawn);
        })();
    </script>
</dom-module>