<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shogi-piece/shogi-piece.html">
<link rel="import" href="../shogi-pieces/shogi-knight.html">
<link rel="import" href="../shogi-pieces/shogi-pawn.html">
<link rel="import" href="../shogi-pieces/shogi-bishop.html">
<link rel="import" href="../shogi-pieces/shogi-lance.html">
<link rel="import" href="../shogi-pieces/shogi-silver-general.html">
<link rel="import" href="../shogi-pieces/shogi-gold-general.html">
<link rel="import" href="../shogi-pieces/shogi-king-general.html">
<link rel="import" href="../shogi-pieces/shogi-jeweled-general.html">
<link rel="import" href="../shogi-pieces/shogi-rook.html">

<dom-module id="shogi-board">
    <template>
        <style>
            :host * {
                box-sizing: border-box;
            }

            :host {
                display: block;
                height: 100%;
                width: 100%;

                @apply --layout-horizontal;
                @apply --layout-center-center;
            }

            #board {
                width: 700px;
                height: 700px;
                border: 2px solid black;
                border-radius: 0 10px 0 10px;
                overflow: hidden;
                @apply --layout-vertical;
            }

            [row] {
                position: relative;
                @apply --layout-flex;
                @apply --layout-horizontal;
            }

            [column] {
                position: relative;
                height: 100%;
                border: 1px solid black;
                @apply --layout-flex;
                @apply --layout-vertical;
                @apply --layout-center-center;
            }


            [column]:hover {
                background: rgba(0, 0, 0, .10);
            }

            [highlight] {
                background: rgba(0, 0, 0, .2) !important;
            }

            [target] {
                background: rgba(0, 0, 0, 0);
                z-index: 5000;
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
            }

            .right-koma {
                width: 350px;
                height: 350px;
                border: 3px solid black;
                border-left: none;
                border-radius: 0 25px 25px 0;
                @apply --layout-self-end;
            }

            .left-koma {
                width: 350px;
                height: 350px;
                border: 3px solid black;
                border-right: none;
                border-radius: 25px 0 0 25px;
                @apply --layout-self-start;
            }

            .board-container {
                @apply --layout-horizontal;
            }

            [marker]::after { content: ''; position: absolute; width: 10px; height: 10px; border-radius: 50%; background: black; z-index: 500;  }
            [marker-top-left]::after {  top: 0; left: 0; transform: translate(-50%, -50%);  }
            [marker-top-right]::after  { top: 0; right: 0; transform: translate(50%, -50%); }
            [marker-bottom-left]::after  {  bottom: 0; left: 0; transform: translate(-50%, 50%); }
            [marker-bottom-right]::after  {  bottom: 0; right: 0; transform: translate(50%, 50%); }
        </style>

        <div class="board-container">
            <div class="left-koma"></div>
            <div id="board"></div>
            <div class="right-koma"></div>
        </div>

    </template>
    <script src="shogi-board.js"></script>
</dom-module>