<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../config/config.html">
<link rel="import" href="../shogi-piece/shogi-piece.html">
<link rel="import" href="../shogi-pieces/shogi-knight.html">
<link rel="import" href="../shogi-pieces/shogi-pawn.html">
<link rel="import" href="../shogi-pieces/shogi-bishop.html">
<link rel="import" href="../shogi-pieces/shogi-lance.html">
<link rel="import" href="../shogi-pieces/shogi-silver-general.html">
<link rel="import" href="../shogi-pieces/shogi-gold-general.html">
<link rel="import" href="../shogi-pieces/shogi-king-general.html">
<link rel="import" href="../shogi-pieces/shogi-jeweled-general.html">
<link rel="import" href="../shogi-pieces/shogi-rook.html">
<link rel="import" href="../shogi-pieces/shogi-promoted-rook.html">
<link rel="import" href="../shogi-pieces/shogi-promoted-bishop.html">
<link rel="import" href="../shogi-pieces/shogi-promoted-pawn.html">
<link rel="import" href="../shogi-pieces/shogi-promoted-silver-general.html">
<link rel="import" href="../shogi-pieces/shogi-promoted-lance.html">
<link rel="import" href="../animated-css.html">

<dom-module id="shogi-board">
    <template>
        <style include="animate-css">
            :host * {
                box-sizing: border-box;
            }

            :host {
                display: block;
                height: 100%;
                width: 100%;

                @apply --layout-horizontal;
                @apply --layout-center-center;
            }

            #board {
                width: calc(100vmin - 64px);
                height: calc(100vmin - 64px);
                border-left: 5px solid black;
                border-right: 5px solid black;
                overflow: hidden;
                position: relative;
                @apply --layout-vertical;
            }

            [row] {
                position: relative;
                @apply --layout-flex;
                @apply --layout-horizontal;
            }

            [row]:first-child [column] { border-top: none; }
            [row]:last-child [column] { border-bottom: none; }
            [column]:first-child { border-left: none; }
            [column]:last-child { border-right: none; }

            [column] {
                position: relative;
                height: 100%;
                border: 1px solid black;
                flex-shrink: 0;
                flex-grow: 0;
                @apply --layout-flex;
                @apply --layout-vertical;
                @apply --layout-center-center;
            }


            [column]:hover {
                background: rgba(0, 0, 0, .10);
            }

            [highlight] {
                background: rgba(0, 0, 0, .2) !important;
            }

            [target] {
                background: rgba(0, 0, 0, 0);
                z-index: 5000;
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                cursor: pointer;
            }

            .right-koma {
                padding-top: 24px;
                @apply --layout-flex;
                @apply --layout-vertical;
            }

            .left-koma {
                padding-top: 24px;
                @apply --layout-flex;
                @apply --layout-vertical;
            }

            .board-container {
                width: 100%;
                @apply --layout-horizontal;
            }

            [overlay] {
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                background: rgba(0, 0, 0, .7);
                z-index: 500000;

                color: white;
                font-size: 48px;

                @apply --layout-horizontal;
                @apply --layout-center-center;
            }

            .header {
                
            }

            .header h3 {
                text-align: center;
                outline: none;
                border: none;
                display: block;
                margin: 0;
                @apply --paper-font-display2;
            }

            .header span {
                margin-top: 12px;
                text-align: center;
                display: block;
                color: #333;
                @apply --paper-font-body1;
            }

            .captured-container {
                padding: 48px;
                @apply --layout-horizontal;
                @apply --layout-wrap;
            }

            [captured-column] {
                @apply --layout-horizontal;
                width: 80px;
                height: 80px;
            }

            [marker]::after { content: ''; position: absolute; width: 10px; height: 10px; border-radius: 50%; background: black; z-index: 500;  }
            [marker-top-left]::after {  top: 0; left: 0; transform: translate(-50%, -50%);  }
            [marker-top-right]::after  { top: 0; right: 0; transform: translate(50%, -50%); }
            [marker-bottom-left]::after  {  bottom: 0; left: 0; transform: translate(-50%, 50%); }
            [marker-bottom-right]::after  {  bottom: 0; right: 0; transform: translate(50%, 50%); } 
        </style>

        <div class="board-container">
            <div class="left-koma" id="whiteCaptured">
                <div class="header">
                    <h3>White</h3>
                    <span>[[whiteCapturedCount]] Pieces Captured</span>
                </div>
                <div id="whiteBoard" class="captured-container"></div>
            </div>
            <div id="board"></div>
            <div class="right-koma" id="blackCaptured">
                <div class="header">
                    <h3>Black</h3>
                    <span>[[blackCapturedCount]] Pieces Captured</span>
                </div>
                <div id="blackBoard" class="captured-container"></div>
            </div>
        </div>

    </template>
    <script src="shogi-board.js"></script>
</dom-module>